@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

#root--accurat-visbol * {
  box-sizing: border-box;
}

#root--accurat-visbol .roboto {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
}

#root--accurat-visbol .roboto-sans {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#root--accurat-visbol .card {
  display: flex;
  flex-direction: column;
  flex: 0 0 190px;
  width: 190px;
  margin: 0 2px;
  border-width: 2;
  border-style: solid;
}

#root--accurat-visbol .card-title-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 64px;
  overflow: hidden;
}
#root--accurat-visbol .card-title-wrapper:hover {
  overflow: visible;
  z-index: 2;
}

#root--accurat-visbol .card-title {
  display: flex;
  padding: 4px;
  font-size: 16px;
}

#root--accurat-visbol .card-subtitle-wrapper {
  height: 20px;
  overflow: hidden;
}
#root--accurat-visbol .card-subtitle-wrapper:hover {
  overflow: visible;
  z-index: 2;
}

#root--accurat-visbol .card-subtitle {
  overflow-wrap: break-word;
  font-size: 16px;
  color: #a3a3a3;
  z-index: 2;
}

