@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap');

* {
  box-sizing: border-box;
}

.roboto {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
}
